body {
  margin: 0px;
  text-align: center; }
  body #layout-main {
    height: 75vh; }
  body header {
    display: flex;
    background: #0a7dd4;
    width: 100%;
    height: 10vh;
    font-size: larger;
    font-weight: 800; }
  body footer {
    display: flex;
    background-color: grey;
    width: 100%;
    height: 15vh;
    font-size: x-large;
    color: white; }
